<div class="row">
  <div class="col-md-8">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"> Line of Businesses </h3>
      </div>
      <div class="box-body">
        <% @mayors_permit_fee_business_categories.each do |category| %>
          <p> <%= category.name %></p>
          <% category.line_of_businesses.each do |line_of_business| %>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-7">
                <p class="text-muted"> <%= line_of_business.name %> </p>
                <% if line_of_business.has_storage_permit_fee? %>
                  &nbsp; &nbsp; <small class="label bg-red"> Storage Permit Fee </small>
                <% end %>
              </div>
              <div class="col-md-2">
                <span class="pull-right"><%=number_to_currency line_of_business.mayors_permit_fee_amount %></span>
              </div>
              <div class="col-md-2">
                <%= link_to 'Edit', edit_bplo_section_settings_line_of_business_path(line_of_business) %>
              </div>
            </div>
            <br>
          <% end %>
        <% end %>
        <center> <%#= paginate @line_of_businesses %></center>
      </div>
    </div>
  </div>
</div>
