<div class="row">
  <div class="col-md-12">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title"> Closed Businesses </h3>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Business </th>
                <th> Taxpayer </th>
                <th> Address </th>
                <th> Remarks </th>
              </tr>
            </thead>
            <tbody>
              <% @businesses.each do |business|%>
                <tr>
                  <td><%= business.name %></td>
                  <td><%= business.taxpayers_full_name %></td>
                  <td><%= business.full_address %></td>
                  <td><%= business.revocation.try(:remarks) %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
