<div class="tab-pane" id="taxpayer-settings">
  <p class="text-muted">Delete this taxpayer </p>
  <% if policy(@taxpayer).destroy? %>
    <%= link_to 'Delete Taxpayer', taxpayer_path(@taxpayer), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure you want to delete this taxpayer?"} %>
  <% else %>
    <%= link_to 'Delete Taxpayer', taxpayer_path(@taxpayer), method: :delete, class: "btn btn-danger disabled btn-sm", data: {confirm: "Are you sure you want to delete this taxpayer?"} %>
    Taxpayer cannot be deleted because it has businesses already.

  <% end %>
</div>
